.about {
    padding-top: 80px;
    position: relative;
    z-index: 10;
    // overflow: hidden;

    &__wrapper {
        display: grid;
        gap: 80px;
    }

    &__side-wrapper {
        max-width: 523px;
        margin-top: 10px;
    }
    
    &__block {
        display: grid;
        grid-template: minmax(600px, auto) / auto auto;
        justify-content: space-between;
        z-index: 10;
    }

    &__text {
        max-width: 523px;
        margin-top: 10px;
    }

    &__descr {
        margin-top: 25px;
        font-family: 'Open Sans';
        font-weight: 400;
        font-size: 16px;
        line-height: 30px;
        color: #575C74;
        
        span {
            font-weight: 700;
        }
    }

    &__img {
        width: 570px;
        min-height: 616px;
    }

    .vector {
        position: absolute;
        width: 760px;
        height: 1461px;
    
        &_left {
            top: -193px;
            left: 0; 
        }
    
        &_right {
            z-index: -1;
            top: 770px;
            right: 0;
            transform: rotateY(180deg);
        }
    }

    .arrow {
        height: 100%;
        width: 100%;
        background: url('../icons/vector.svg') center (right/cover) no-repeat;
    }

}