.header {
    padding-top: 20px;
    position: absolute;
    z-index: 999;
    width: 100%;

    &__nav {
        display: flex;
        justify-content: space-between;
    }

    &__wrapper {
        display: flex;
        // align-items: center;
    
        .menu {
            display: flex;
            align-items: center;
            margin: 0;
            padding: 0px;
            gap: 45px;
        
            &__item {
                list-style-type: none;
            }
        
            &__link {
                font-family: 'Open Sans';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 30px;
                color: #575C74;
                text-decoration: none;
            }
        }
    
        button {
            margin-left: 45px;
            width: 123px;
            height: 47px;
            background: #1B5FC1;
            border-radius: 8px;
            /* TEXT */
            font-family: 'Rubik';
            font-weight: 500;
            font-size: 14px;
            line-height: 30px;
            color: #FFFFFF;
        }
    }
}

